.navbar {
  margin-bottom: 0;
}

#map {
  height: 93vh;
  border: 1px;
  margin-left: -15px;
  margin-right: -15px;

}

#direction-map {
  margin: 2em 0;
  padding: 25% 0;
}

#park-info {
  margin-top: 1em;
}

#about-page {
  display: none;
}
