.navbar {
  margin-bottom: 0;
}

#map {
  min-height: 100vh;
  border: 1px;
  margin-left: -15px;
  margin-right: -15px;

}

#direction-map {
  height: 26em;
  padding-left: 2em;
}

#park-info {
  margin-top: 5em;
}

#park-info h2 {
  font-family: 'Sansita One', cursive;
}

#about-page {
  margin-left: -15px;
  margin-right: -15px;
  padding: 1em;
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.3),
     rgba(0, 0, 0, 0.3)), url('/img/soccer_wallpapers_for_desktop_wallpapers-1600x1000.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

#about-app {
  margin-top: 5em;
}

#about-app, #about-us {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
}

#about-page h2 {
  font-size: 1.5em;
  font-weight: bold;
}

#about-page p {
  font-size: 1em;
}

#about-page h1, #about-page h2 {
  font-family: 'Sansita One', cursive;
}

#about-page {
  display: none;
}

#about-page {
  display: none;
}

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-nav>li .active {
    border-left: 5px solid #86d694;
    background-color: #fff;
  }

  #about-us .developer-bio {
    padding-left: 0;
    padding-right: 0
  }
}

@media only screen and (min-width: 768px) {
  #about-app, #about-us {
    padding: 1.5em;
  }

}
