.navbar-brand {
  padding: 0 0.5em;
}

.claire-photo {
  background-image: url('/img/claire-pic_480.jpg');
  background-position: center;
  background-size: cover;
}

.crystal-photo {
  background-image: url('/img/crystal_480.jpg');
  background-position: center;
  background-size: cover;
}

.steven-photo {
  background-image: url('/img/steven_480.jpg');
  background-position: center;
  background-size: cover;
}

.john-photo {
  background-image: url('/img/Jp_Gaines.jpg');
  background-position: center;
  background-size: cover;
}

.team-pic {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

#user-form-container {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 1em;
  z-index: 2;
  background: rgba(134, 214, 148, 0.7);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  padding: 1em 2em 3em 2em;
}

#user-form {
  display: hidden;
}

#user-form .btn {
  width: 100%;
}

#user-form #user-location {
  width: 100%;
  z-index: 3;
}

#user-form #sport-filter {
  width: 100%;
}

#user-form-button {
  width: 100%;
}

.back-btn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #86D694;
  padding: 0.1em 0.5em 0.2em 0.5em;
  text-decoration: none;
}

.back-btn:hover {
  background: #47c55d;
  text-decoration: none;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .navbar-default .navbar-nav>li .active {
    padding-bottom: 10px;
    border-bottom: 6px solid rgba(125, 202, 92, 1)
  }

  .navbar #user-form {
    padding: 0.5em 7em;
  }

  #user-form #user-location-container {
    width: 50%;
  }

  #user-form #activity-picker-container {
    width: 30%;
  }

}

@media only screen and (min-width: 768px) and (max-width : 991px) {
  #user-form-container {
    margin: 0 10em;
    top: 35%;
  }
}

@media only screen and (min-width: 992px) and (max-width : 1450px) {
  #user-form-container {
    margin: 0 20em;
    top: 35%;
  }
}

@media only screen and (min-width: 1451px) {
  #user-form-container {
    margin: 0 35em;
    top: 35%;
  }
}
