.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  padding: 0px;
}

#user-form-container {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 1em;
  z-index: 2;
  background: rgba(134, 214, 148, 0.7);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  padding: 3em;
}

#user-form-container .btn {
  width: 100%;
}

#user-form-container #user-location {
  width: 100%;
  z-index: 3;
}

#user-form-container .activity-picker {
  width: 100%;
}

@media only screen and (min-width: 500px) and (max-width : 767px) {
  /*#user-form-container {
    margin: 0 8em;
  }*/
}

@media only screen and (min-width: 768px) and (max-width : 991px) {
  #user-form-container {
    margin: 0 10em;
    top: 35%;
  }

  #user-form-container #user-location-container {
    width: 50%;
  }

  #user-form-container #activity-picker-container {
    width: 30%;
  }

}

@media only screen and (min-width: 992px) and (max-width : 1450px) {
  #user-form-container {
    margin: 0 20em;
    top: 35%;
  }
  #user-form-container #user-location-container {
    width: 50%;
  }

  #user-form-container #activity-picker-container {
    width: 30%;
  }

}

@media only screen and (min-width: 1451px) {
  #user-form-container {
    margin: 0 35em;
    top: 35%;
  }
  #user-form-container #user-location-container {
    width: 50%;
  }

  #user-form-container #activity-picker-container {
    width: 30%;
  }

}
