.navbar-brand {
  padding: 0 0.5em;
}

.developer-name {
  display: inline-block;
}

.claire-photo {
  background-image: url('/img/claire-pic_480.jpg');
}

.crystal-photo {
  background-image: url('/img/crystal_480.jpg');
}

.steven-photo {
  background-image: url('/img/steven_480.jpg');
}

.john-photo {
  background-image: url('/img/Jp_Gaines.jpg');
}

.team-pic {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  display: inline-block;
  background-position: center;
  background-size: cover;
}

#about-us {
  margin-top: 1em;
}

#user-form-container {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 1em;
  z-index: 2;
  background: rgba(134, 214, 148, 0.7);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  padding: 1em 2em 3em 2em;
}

#user-form-container h2 {
  display: inline-block;
}

#user-form-container h2 {
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}

#user-form .btn {
  width: 100%;
}

#user-form #user-location {
  width: 100%;
  z-index: 3;
}

#user-form #sport-filter {
  width: 100%;
}

#user-form-button {
  width: 100%;
}

.back-btn-container {
  margin-bottom: 2em;
}

.back-btn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #337ab7;
  padding: 0.1em 0.5em 0.2em 0.5em;
  text-decoration: none;
}

.back-btn:hover {
  background: #2e6da4;
  text-decoration: none;
  color: #ffffff;
}

.navbar-default .navbar-nav>li .active {
  padding-bottom: 10px;
}

#lighting .FALSE {
  background-image: url('/img/icon-false.png');
  padding: 0 10px;
  margin-left: 0.5em;
  background-repeat: no-repeat;
}

#lighting .TRUE {
  background-image: url('/img/icon-true.png');
  padding: 0 10px;
  margin-left: 0.5em;
  background-repeat: no-repeat;
}

#directions-link {
  cursor: pointer;
}

.info {
  background: rgba(134, 214, 148, 0.7);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.info p {
  font-size: 1.5em;
}

.info h2 {
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.4);
}

.park-detail {
  padding: 1.5em 1em 1em 3.5em;
}

#ajax-spinner p {
  margin-top: 0.5em;
  font-size: 1.5em;
}

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-nav>li .active {
    border-left: 5px solid #86d694;
    background-color: #fff;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-default .navbar-nav>li .active {
    border-bottom: 6px solid #86d694;
  }

  .navbar #user-form {
    padding: 0.6em 7em;
  }

  #user-form #user-location-container {
    width: 50%;
  }

  #user-form #activity-picker-container {
    width: 30%;
  }

  .navbar-brand {
    padding-left: 0;
    padding-right: 0.5em;
  }

}

@media only screen and (min-width: 768px) and (max-width : 991px) {
  #user-form-container {
    margin: 0 10em;
    top: 35%;
  }
}

@media only screen and (min-width: 992px) and (max-width : 1450px) {
  #user-form-container {
    margin: 0 20em;
    top: 35%;
  }
}

@media only screen and (min-width: 1451px) {
  #user-form-container {
    margin: 0 35em;
    top: 35%;
  }
}
